# ログファイルを無視する
logs/error.log

# storage/invoices ディレクトリ以下の全てのファイルを無視する
# ※PDFファイルは多くなりがちなので、ディレクトリごと無視するのが一般的です
storage/invoices/

# 交通費レシートファイルを無視する
uploads/

# 契約書ファイルを無視する
public/uploads/

# アドインファイル
vender/

